/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {

    h1 {
        font-size: 50px;
        margin-bottom: 0;
    }
    
    h2 {
        font-size: 24px;
    }

    #menuHeader {
        height: 150px;
    }

    nav {
        position: relative;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        font-size: 1.1rem;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li { 
        float: left;
    }

    nav ul li a {
        border: none;
        padding: .6rem 2rem;
    }

    .logo img {
        left: 5%;
    }

    /*hero*/
    .hero { 
        position: relative;
    }

    .pagetitle {
        top: 50%;
        left: 65%;
    }

    .pagetitle h2 {
        font-size: 70px;
    }
    

    /*Image Gallery */
    .images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .image-container {
        box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.5);
        transition: all 300ms ease;
    }

    .image-container:hover {
        box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }

    

} /*end large */

/*Form*/
form label.sbs {
    padding: .4rem 0;
}
