
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-script: 'Rouge Script', cursive;
}

* {
	box-sizing: border-box;
  }
  
  html, body {
	height: 100%;
  }

body {
	display: grid;
	place-items: center;
	background: #3ea0eb;
  }

div {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 100%;
	margin: 0 auto;
}

section {
	position: relative;
	display: block;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

h1 {
	font-family: var(--font-script);
	font-size: 60px;
	color: whitesmoke;
	text-align: center;
	margin: .5rem;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

h2 {
	font-family: var(--font-sans);
	font-size: 25px;
	color: black;
	margin: 0;
}

p {
	font-family: var(--font-sans);
	color: black;
	margin: 0;
}

img {
	margin: 1rem;
	width: 75%;
}

footer {
	font-family: var(--font-sans);
	font-size: 18px;
	background-color: #ff4346;
	color: whitesmoke;
	padding: 20px;
	text-align: center;
	width: 100%;
}
