@media only screen and (min-width: 64em) {
    tr:first-child th {
        font-size: 40px;
    }

    thead tr:nth-child(even) {
        font-size: 35px;
    }
    
    td {
        text-align: center;
        font-size: 20px;
    }

    tfoot td{
        font-size: 14px;
    }
}