@media only screen and (min-width: 37.5em){
    table {
        width: 50%;
    }
    
    tr:first-child th {
        font-size: 35px;
    }

    thead tr:nth-child(even) {
        font-size: 25px;
    }

    td {
        font-size: 15px;
    }

    tfoot td{
        font-size: 12px;
    }
}