@media only screen and (min-width: 37.5em){
	h1 {
		font-size: 40px;
		margin-bottom: 0;
		text-align: left;
	}
	
	h2 {
		
		font-size: 20px;
	}

	header h2 {
		font-size: 20px;
	}

	header .headings {
		margin: 0 0 0 0;
	}

	.logo img {
		width: 130%;
		height: auto;
	}
	

	/*hero*/
	.hero { 
		position: relative;
	}

	.current_weather {
		position: absolute;
		top: 25px;
		left: 25px;
	}

	.article figure.articlephoto {
		width: 50%;
    	margin: 0 0 0 2%;
    	float: right;
	}

	.contact img {
		width: 7%;
		height: auto;
	}
	
	.pagetitle {
		top: 50%;
		left: 80%;
	}
	
	.pagetitle h2 {
		font-size: 60px;
	}

	/*Image Gallery*/
    .images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

	/*Card*/
	.cards section {
		flex-direction: row;
	}

	.cards section:nth-child(odd) {
		flex-direction: row-reverse;
	}

	#detailsInfo {
		width: 50%;
		position: relative;
	}

	#detailsImg {
		width: 50%;
	}

	#details {
		position: absolute;
		top: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}